<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/pico.min.css">
	<title>{{ .title }}</title>
</head>

<body>
	<main>
		<article>
			<h1>{{ .title }}</h1>
			<details open>
				<summary>v2.0.2</summary>
				<p>
				<ul>
					<li>fixes a bug causing users not being able to save their settings on the web portal</li>
					<li>fixes a bug where admin settings were always locked even if you did have permission</li>
					<li>adds new endpoint for heartbeat docker healthcheck</li>
				</ul>
				</p>
			</details>
			<details open>
				<summary>v2.0.1</summary>
				<p>
				<ul>
					<li>Hotfix to fix major bug regarding roles permissions causing the bot to crash</li>
				</ul>
				</p>
			</details>
			<details open>
				<summary>v2.0.0</summary>
				<p>
				<ul>
					<li>Full rewrite in GoLang</li>
					<li>Web portal to configure settings</li>
					<li>Simple mode | Shows only a link to Songwhip</li>
					<li>Mention only mode | Only triggers the bot when you mention it</li>
					<li>Keep original message | Keeps the original message</li>
					<li>Settings are now global per guild/server but can optionally be overridden per member</li>
					<li>Better performance</li>
					<li>Better error handling</li>
					<li>Easier to maintain</li>
					<li>More tests in the codebase</li>
				</ul>
				</p>
			</details>
			<details>
				<summary>Update v1.5.4</summary>
				<p>
				<blockquote>
					<p>Fixes Spotify link detection to properly detect their new domain spotify.link.</p>
				</blockquote>
				</p>
			</details>

			<details>
				<summary>Update v1.5.3</summary>
				<p>
				<blockquote>
					<p>Downgrade to .NET 6.0 for stability and to fix deployment issues.</p>
				</blockquote>
				</p>
			</details>

			<details>
				<summary>Update v1.5.2</summary>
				<p>
				<blockquote>
					<p>Upgrades bug causing auto-resolve to not work because it could not read message contents.</p>
				</blockquote>
				</p>
			</details>

			<details>
				<summary>Update v1.5.1</summary>
				<p>
				<blockquote>
					<p>Added support to keep the original message as requested by Reduvian on GitHub issue #10</p>
					<p>Fixed a bug in infra that caused the mention mode and other settings to reset every update.</p>
				</blockquote>
				</p>
			</details>

			<details>
				<summary>Update v1.5.0</summary>
				<p>
				<blockquote>
					<p>Fixed minor bugs and disabled the release date for songs as it was broken.</p>
					<p>Added mentions to embeds! Now you can mention friends when sharing links!</p>
				</blockquote>
				</p>
			</details>

			<details>
				<summary>Update v1.4.0</summary>
				<p>
				<blockquote>
					<p>Replaced opt-in/opt-out with mention mode. Now you can make the bot resolve only when you really
						want it to!</p>
				</blockquote>
				</p>
			</details>

			<details>
				<summary>Major update v1.3.1</summary>
				<p>
				<blockquote>
					<p>Renamed the bot to Songshizz</p>
					<p>Streamlined resolver flow to be more efficient and improved code readability.</p>
					<p>Added support for Spotify playlists</p>
					<p>Updated codebase to run on .NET 6.0</p>
					<p>Added this changelog command.</p>
				</blockquote>
				</p>
			</details>

		</article>
	</main>
</body>

</html>