<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/pico.min.css">
	<title>SongGuru</title>
</head>

<body>
	<main>
		<form class="container" action="/?t={{ .token }}" method="POST">
			<article>
				<h1>SongGuru</h1>
				<a href="https://songguru.app/invite" class="button">Add SongGuru to your Discord server</a>
				<p>
					Welcome to SongGuru! A Discord bot to share songs with your friends by generating universally sharable links.
				</p>
			</article>
		</form>
	</main>
</body>

</html>