version: "3"
services:
  songshizz-bot:
    restart: unless-stopped
    container_name: songshizz-bot
    image: "stardebris/songshizz-bot"
    environment:
      - BOT_TOKEN=<enter your bot token here!>
      - SPOTIFY_CLIENT_TOKEN=<enter your spotify client id here!>
      - SPOTIFY_CLIENT_SECRET=<enter your spotify client secret here!>
