[Unit]
Description=Songwhip bot
After=network.target
StartLimitIntervalSec=2

[Service]
Type=simple
Restart=always
RestartSec=5
StartLimitBurst=5
StartLimitIntervalSec=10
User=swdeployer
WorkingDirectory=/opt/songwhip-bot/develop/live
ExecStart=/usr/bin/env /opt/songwhip-bot/develop/live/songwhip_bot

[Install]
WantedBy=multi-user.target
